{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-syntax-decorators",
    "@babel/plugin-syntax-dynamic-import",
    "lodash",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      },
      "antd"
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      },
      "antd-mobile"
    ]
  ]
}